* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: "Open Sans";
  color: lightgrey;
  user-select: none;
}

canvas {
  display: block;
}

.intro {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
}